extends base.pug

block styles
    link(rel="stylesheet", href="/scss/contrast.scss")

block example
    - var l = 0;
    while l < 256
        .row
            - var h = 0;
            while h < 256
                .cell(id=`h${h}l${l}`)
                    div
                - h += 5;
        - l += 5;
