extends base.pug

block styles
    link(rel="stylesheet", href="/scss/customColors.scss")

block example
    .primary.example
        p Example - Primary

    .secondary.example
        p Secondary

    .primary-inverted.example
        p Inverted - Primary

    .secondary-inverted.example
        p Secondary

    .uglyfic.example
        p This is "uglyfic"!

    .uglyfic-inverted.example
        p This is also "uglyfic"!
