extends base.pug

block styles
    link(rel="stylesheet", href="/scss/theme.scss")

block example
    .theme-bg-color-primary.example
        p.theme-color-primary Example - Primary

    .theme-bg-color-secondary.example
        p.theme-color-secondary Secondary

    .theme-bg-color-info.example
        p.theme-color-info Info

    .theme-bg-color-success.example
        p.theme-color-success Success

    .theme-bg-color-warning.example
        p.theme-color-warning Warning

    .theme-bg-color-error.example
        p.theme-color-error Error

    .theme-inv-bg-color-primary.example
        p.theme-inv-color-primary Inverted - Primary

    .theme-inv-bg-color-secondary.example
        p.theme-inv-color-secondary Secondary

    .theme-inv-bg-color-info.example
        p.theme-inv-color-info Info

    .theme-inv-bg-color-success.example
        p.theme-inv-color-success Success

    .theme-inv-bg-color-warning.example
        p.theme-inv-color-warning Warning

    .theme-inv-bg-color-error.example
        p.theme-inv-color-error Error

    button(onClick="modifyThemeColor('primary', '#fe23d2');") Modify primary color

    script(src="../../../src/ts/pulprColor.ts")
