extends base.pug

block styles
    link(rel="stylesheet", href="/scss/theme.scss")

block example
    .theme-bg-primary.example
        p.theme-fg-primary Example - Primary

    .theme-bg-secondary.example
        p.theme-fg-secondary Secondary

    .theme-bg-info.example
        p.theme-fg-info Info

    .theme-bg-success.example
        p.theme-fg-success Success

    .theme-bg-warning.example
        p.theme-fg-warning Warning

    .theme-bg-error.example
        p.theme-fg-error Error
