<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Pulpr Color (puplr-color) Example
    body
        h1 Development example

        h2 Color-utils examples

        ol
            li
                a(href="pug/contrast.pug") Contrast Test
            li
                a(href="pug/colorScales.pug") Color scales Test
            li
                a(href="pug/theme.pug") Theme colors Test

            li
                a(href="pug/customColors.pug") Custom theme colors
